@{
    ViewBag.Title = "Home Page";
}
@using (Ajax.BeginForm("JsonSearch", new AjaxOptions
{
    OnSuccess = "OnSucces"
}))
{
    <input type="text" id="name" name="name" />
    <input type="submit" id="submit" value="Search" />

}

<div id="loading" style="display: none; color: red; font-weight: bold;">
    <p>Идёт загрузка...</p>
</div>
<div id="results"></div>


@*<input type="text" id="name" name="name" />
<input type="submit" id="submit" value="Search" />*@




@*@foreach (string s in ViewBag.Authors)
    {
        @Ajax.ActionLink(s, "BookSearch", new { name = s }, new AjaxOptions { UpdateTargetId = "results" })
    }*@

@section scripts
{
    <script type="text/javascript">

        function OnSucces(data) {
            var results = $('#results');
            results.empty();
            for (var i = 0; i < data.length; i++) {
                results.append('<p>' + data[i].Name + '</p>');
            }
        }

        @*$(document).ready(function() {
            $('#submit').click(function(e) {
                e.preventDefault();
                var name = $('name').val();
                name = encodeURIComponent(name);
                $('#results').load('@Url.Action("BookSearch")?name=' + name);
            });
        });*@
    </script>
}
